<div class="flex flex-col px-8 py-4 overflow-auto max-h-[100vh] md:max-h-[80vh]">
  <app-header-toolbar
    (backButtonHandler)="back()"
    pagetitle="{{pageTitle}}"
  ></app-header-toolbar>
  <div>
      <app-progress-bar [step]="step"></app-progress-bar>
  </div>
 <app-personal-information *ngIf="step===1" (onClickNextBtn)="next($event)"></app-personal-information>
 <app-appoint-executor *ngIf="step===2" (onClickNextBtn)="next($event)"></app-appoint-executor>
 <app-distribution-assets *ngIf="step===3" (onClickNextBtn)="next($event)"></app-distribution-assets>
 <app-distribute-residual-asset *ngIf="step===4" (onClickNextBtn)="next($event)"></app-distribute-residual-asset>
 <app-clauses [viewClause]="viewClause" (onbackClause)="onbackClause($event)" *ngIf="step===5" (onClickNextBtn)="next($event)"></app-clauses>
 <app-review-will  *ngIf="step===6" ></app-review-will>
</div>
