<div class="flex flex-col overflow-auto min-h-[100vh]">
  <div class="flex flex-col-reverse sm:flex-row justify-between mt-4">
    <div class="font-['GilroyBold'] flex items-center text-xl">
      Liabilities
    </div>
    <div>
      <app-button
        border="border-2 border-black"
        (myMethod)="toggleModalTutorial = true"
        padding="px-10 py-2"
        backgroundColor="bg-[#fff]"
        borderRadius="rounded-xl"
        color="text-[#000]"
        value="Tutorial"
        class="hidden md:flex"
      ></app-button>
      <app-button
        value="Tutorial"
        (click)="toggleModalTutorial = true"
        class="md:hidden"
        backgroundColor="bg-[#000]"
        margin="my-1"
      >
      </app-button>
    </div>
  </div>
  <div class="font-['GilroySemi'] text-[#ccc] -mt-1">
    Select and add liabilities
  </div>
  <div class="flex flex-col bg-[#f7f7f7] rounded-2xl p-4 mt-2 max-h-[50vh] overflow-auto">
    <app-select-box
      [key]="KeysLiability"
      [listItem]="LiabilitiesData"
      [selectedItems]="this.distributeAssetsForm.value.liabilities"
      addItemRoute="members/createmembers"
      [classes]="classes"
      (onSelectId)="selectLiabilities($event)"
      addItemRoute="members/createmembers"
      avtarType="name"
      addItemTitle="Add Liabilities"
      
    >
    </app-select-box>
  </div>
  <div class="flex flex-col-reverse sm:flex-row justify-between mt-4">
    <div class="font-['GilroyBold'] flex items-center text-xl">
      Assets
    </div>
    <div>
      <app-button
        border="border-2 border-black"
        (myMethod)="toggleModalTutorial = true"
        padding="px-10 py-2"
        backgroundColor="bg-[#fff]"
        borderRadius="rounded-xl"
        color="text-[#000]"
        value="Tutorial"
        class="hidden md:flex"
      ></app-button>
      <app-button
        value="Tutorial"
        (click)="toggleModalTutorial = true"
        class="md:hidden"
        backgroundColor="bg-[#000]"
        margin="my-1"
      >
      </app-button>
    </div>
  </div>
  <div class="font-['GilroySemi'] text-[#ccc] -mt-1">Select and add assets</div>
  <div class="flex flex-col bg-[#f7f7f7] rounded-2xl p-4 mt-2 max-h-[50vh] overflow-auto">
    <app-select-box
      [key]="keyAssets"
      (actionButton)="onUpdateAssets($event)"
      [listItem]="assetsData"
      [selectedItems]="this.distributeAssetsForm.value.assets"
      [classes]="classes"
      addItemRoute="assets/createAssets"
      (onSelectId)="selectAssets($event)"
      avtarType="image"
      addItemTitle="Add Assets"
      [memberListShare]="allAssetsBeneficiary"
      [memberShareList]="true"
    >
    </app-select-box>
  </div>
  <div class="flex flex-col-reverse sm:flex-row justify-between mt-4">
    <div class="font-['GilroyBold'] flex items-center text-xl ">
      Trust
    </div>
    <div>
      <app-button
        border="border-2 border-black"
        (myMethod)="toggleModalTutorial = true"
        padding="px-10 py-2"
        backgroundColor="bg-[#fff]"
        borderRadius="rounded-xl"
        color="text-[#000]"
        value="Tutorial"
        class="hidden md:flex"
      ></app-button>
      <app-button
        value="Tutorial"
        (click)="toggleModalTutorial = true"
        class="md:hidden"
        backgroundColor="bg-[#000]"
        margin="my-1"
      >
      </app-button>
    </div>
  </div>
  <div class="font-['GilroySemi'] text-[#ccc] -mt-1">Select and add trust</div>
  <div class="flex flex-col bg-[#f7f7f7] rounded-2xl p-4 mt-2 max-h-[50vh] overflow-auto">
    <app-select-box
      [key]="KeysTrust"
      [listItem]="trustData"
      [selectedItems]="this.distributeAssetsForm.value.trust"
      [classes]="classes"
      addItemRoute="trust/createTrust"
      (onSelectId)="selectTrust($event)"
      avtarType="name"
      addItemTitle="Add Trust"
    >
    </app-select-box>
  </div>
  <div class=" sm:w-6/12 md:w-4/12 lg:w-3/12 my-4">
    <app-button
      [arrow]="true"
      padding="px-3 py-3"
      (myMethod)="onClickNext()"
      value="Distribute Residual Asset"
      id="submitButtonId"
    ></app-button>
  </div>
</div>
<app-modal-filter [modalBody]="modalBody2" [showModal]="toggleModalTutorial">
  <ng-template #modalBody2>
    <app-tutorial (onClose)="toggleModalTutorial = false"> </app-tutorial>
  </ng-template>
</app-modal-filter>
