<div class=" flex flex-col space-y-3">
<div class="pt-5 pb-3 font-['GilroySemi']">Seems like you’re all set. Please be sure to review the details you have entered.</div>

<div class="bg-[#F7F7F7] p-5 rounded-2xl">
    <div class="flex flex-row items-center space-x-2">
        <div><img src="../../../../../assets/Icons/Personal Details.svg"></div>
        <div class="font-['GilroySemi']">Personal Details</div>
    </div>
    <app-personal-information ></app-personal-information>
</div>
<div class="bg-[#F7F7F7] p-5 rounded-2xl">
    <div class="flex flex-row items-center space-x-2">
        <div><img src="../../../../../assets/Icons/Personal Details.svg"></div>
        <div class="font-['GilroySemi']">Appointed Executors</div>
    </div>
    <app-appoint-executor ></app-appoint-executor>
</div>

<div class="bg-[#F7F7F7] p-5 rounded-2xl">
    <div class="flex flex-row items-center space-x-2">
        <div><img src="../../../../../assets/Icons/Personal Details.svg"></div>
        <div class="font-['GilroySemi']">Appointed Guardians</div>
    </div>
    <app-distribution-assets ></app-distribution-assets>
</div>
<div class="bg-[#F7F7F7] p-5 rounded-2xl">
    <div class="flex flex-row items-center space-x-2">
        <div><img src="../../../../../assets/Icons/Personal Details.svg"></div>
        <div class="font-['GilroySemi']">Liability</div>
    </div>
    <app-distribute-residual-asset ></app-distribute-residual-asset>
</div>
 
 

 <app-clauses></app-clauses>

</div>