<div class="flex flex-col overflow-auto min-h-[100vh]">
  <form class="flex flex-col" [formGroup]="appointExecutorForm">
    <div class="font-['GilroySemi'] text-[#ccc]">
      An executor must not be bankrupt, must be Above 21 years old.
    </div>
    <div class="flex flex-col-reverse sm:flex-row justify-between">
      <div class="font-['GilroyBold'] mb-2 mt-5 text-xl">
        Appoint Primary Executor
      </div>
      <div>
        <app-button
          border="border-2 border-black"
          (myMethod)="toggleModalTutorial = true"
          padding="px-10 py-2"
          backgroundColor="bg-[#fff]"
          borderRadius="rounded-xl"
          color="text-[#000]"
          value="Tutorial"
          class="hidden md:flex"
        ></app-button>
        <app-button
          value="Tutorial"
          (click)="toggleModalTutorial = true"
          class="md:hidden"
          backgroundColor="bg-[#000]"
          margin="my-1"
        >
        </app-button>
      </div>
    </div>
    <div class="flex flex-col bg-[#f7f7f7] rounded-2xl p-4">
      <div class="white">
        <ng-select
          formControlName="primary_executor_type"
          [searchable]="false"
          [clearable]="false"
          class="custom-selector white joint sm:w-1/4"
        >
          <ng-option *ngFor="let item of listType" [value]="item.value">
            <img height="15" width="15" [src]="item.avatar" class="mr-3" />{{
              item.name
            }}
          </ng-option>
        </ng-select>
      </div>
      <div class="text-[#A2A2A2] my-2 flex flex-row justify-between">
        <div>Select and add executors</div>
        <div
          (click)="editToggle = true"
          class="text-red font-['GilroySemi'] cursor-pointer"
        >
          Edit
        </div>
      </div>
      <div class="max-h-[50vh] overflow-auto">
        <app-select-mobile
          [listItem]="selectedItemFromEdit"
          addItemTitle="Add Executor"
          (selectedListItem)="selectCircularMembers($event)"
          (addItemHandler)="editToggle = true"
          addItemRoute="members/createmembers"
        >
        </app-select-mobile>
      </div>
    </div>
    <div class="flex flex-col-reverse sm:flex-row justify-between">
      <div class="font-['GilroyBold'] mb-2 mt-5 text-xl">
        Appoint Replacement Executor
      </div>
      <div>
        <app-button
          border="border-2 border-black"
          (myMethod)="toggleModalTutorial = true"
          padding="px-10 py-2"
          backgroundColor="bg-[#fff]"
          borderRadius="rounded-xl"
          color="text-[#000]"
          value="Tutorial"
          class="hidden md:flex"
        ></app-button>
        <app-button
          value="Tutorial"
          (click)="toggleModalTutorial = true"
          class="md:hidden"
          backgroundColor="bg-[#000]"
          margin="my-1"
        >
        </app-button>
      </div>
    </div>
    <div class="flex flex-col bg-[#f7f7f7] rounded-2xl p-4">
      <div class="white">
        <ng-select
          formControlName="replacement_executor_type"
          [searchable]="false"
          [clearable]="false"
          class="custom-selector white joint sm:w-1/4"
        >
          <ng-option *ngFor="let item of listType" [value]="item.value">
            <img height="15" width="15" [src]="item.avatar" class="mr-3" />{{
              item.name
            }}
          </ng-option>
        </ng-select>
      </div>
      <div class="text-[#A2A2A2] my-2 flex flex-row justify-between">
        <div>Select and add executors</div>
      </div>
      <div class="max-h-[50vh] overflow-auto drag-boundary">
        <app-select-box
          [key]="key"
          [listItem]="memberData"
          [selectedItems]="
            this.appointExecutorForm.value.addReplacementExecutor
          "
          addItemRoute="members/createmembers"
          [classes]="classes"
          [dragToggle]="true"
          (onSelectId)="selectMemberReplacementExecutor($event)"
          addItemRoute="members/createmembers"
          avtarType="name"
          imageUrl="../../../../../assets/Icons/Bank Account.svg"
          addItemTitle="Add Executor"
        >
        </app-select-box>
      </div>
    </div>
    <div class="flex flex-col-reverse sm:flex-row justify-between">
      <div class="font-['GilroyBold'] mb-2 mt-5 text-xl">Appoint Guardian</div>
      <div>
        <app-button
          border="border-2 border-black"
          (myMethod)="toggleModalTutorial = true"
          padding="px-10 py-2"
          backgroundColor="bg-[#fff]"
          borderRadius="rounded-xl"
          color="text-[#000]"
          value="Tutorial"
          class="hidden md:flex"
        ></app-button>
        <app-button
          value="Tutorial"
          (click)="toggleModalTutorial = true"
          class="md:hidden"
          backgroundColor="bg-[#000]"
          margin="my-1"
        >
        </app-button>
      </div>
    </div>
    <div class="flex flex-col bg-[#f7f7f7] rounded-2xl p-4">
      <div class="text-[#A2A2A2] mb-2">
        Guardians must be above 21 years old and must not be the Other parent of
        the childrend.
      </div>
      <div>
        <div
          class="flex justify-between items-center p-3 bg-[#f7f7f7] rounded-2xl w-full"
        >
          <input
            type="radio"
            value="guardian1"
            formControlName="guardian_type"
            id="test1"
            class="mx-1 radioCustom"
          />
          <label class="mx-1 font-['gilroysemi'] w-full" for="test1"
            >No guardianship clause</label
          >
        </div>
        <div
          class="flex justify-between items-center p-3 bg-[#f7f7f7] rounded-2xl w-full"
        >
          <input
            type="radio"
            id="test2"
            value="guardian2"
            formControlName="guardian_type"
            class="mx-1 radioCustom"
          />
          <label class="mx-1 font-['gilroysemi'] w-full" for="test2"
            >To act jointly with other parent</label
          >
        </div>
        <div
          class="flex justify-between items-center p-3 bg-[#f7f7f7] rounded-2xl w-full"
        >
          <input
            type="radio"
            id="test3"
            value="guardian3"
            formControlName="guardian_type"
            class="mx-1 radioCustom"
          />
          <label class="mx-1 font-['gilroysemi'] w-full" for="test3"
            >To act only if no parent survives</label
          >
        </div>
        <div
          *ngIf="this.appointExecutorForm.value.guardian_type !== 'guardian1'"
        >
          <div class="mt-4 mb-8">
            <div class="white">
              <ng-select
                formControlName="guardian_executor_type"
                [searchable]="false"
                [clearable]="false"
                class="custom-selector white joint sm:w-1/4"
              >
                <ng-option *ngFor="let item of listType" [value]="item.value">
                  <img
                    height="15"
                    width="15"
                    [src]="item.avatar"
                    class="mr-3"
                  />{{ item.name }}
                </ng-option>
              </ng-select>
            </div>
            <div class="text-[#A2A2A2] my-2 flex flex-row justify-between">
              <div>Select and add guardian</div>
            </div>
            <div class="max-h-[50vh] overflow-auto">
              <app-select-box
                [key]="key"
                [listItem]="memberData"
                [selectedItems]="
                  this.appointExecutorForm.value.addGuardianExecutor
                "
                addItemRoute="members/createmembers"
                [classes]="classes"
                (onSelectId)="selectMemberGuardian($event)"
                addItemRoute="members/createmembers"
                avtarType="name"
                imageUrl="../../../../../assets/Icons/Bank Account.svg"
                addItemTitle="Add Executor"
              >
              </app-select-box>
            </div>
          </div>
          <hr class="border-b-2 border-t-0" />
          <div class="flex flex-col-reverse sm:flex-row justify-between">
            <div class="font-['GilroyBold'] mb-2 mt-5 text-xl">
              Appoint Replacement Guardian
            </div>
            <div>
              <app-button
                border="border-2 border-black"
                (myMethod)="toggleModalTutorial = true"
                padding="px-10 py-2"
                backgroundColor="bg-[#fff]"
                borderRadius="rounded-xl"
                color="text-[#000]"
                value="Tutorial"
                class="hidden md:flex"
              ></app-button>
              <app-button
                value="Tutorial"
                (click)="toggleModalTutorial = true"
                class="md:hidden"
                backgroundColor="bg-[#000]"
                margin="my-1"
              >
              </app-button>
            </div>
          </div>
          <div class="my-2">
            <div class="white">
              <ng-select
                formControlName="guardian_replacement_executor_type"
                [searchable]="false"
                [clearable]="false"
                class="custom-selector white joint sm:w-1/4"
              >
                <ng-option *ngFor="let item of listType" [value]="item.value">
                  <img
                    height="15"
                    width="15"
                    [src]="item.avatar"
                    class="mr-3"
                  />{{ item.name }}
                </ng-option>
              </ng-select>
            </div>
            <div class="text-[#A2A2A2] my-2 flex flex-row justify-between">
              <div>Select and add guardian</div>
            </div>
            <div class="max-h-[50vh] overflow-auto">
              <app-select-box
                [key]="key"
                [listItem]="memberData"
                [selectedItems]="
                  this.appointExecutorForm.value.addGuardianReplacementExecutor
                "
                addItemRoute="members/createmembers"
                [classes]="classes"
                (onSelectId)="selectReplacementMemberGuardian($event)"
                addItemRoute="members/createmembers"
                avtarType="name"
                imageUrl="../../../../../assets/Icons/Bank Account.svg"
                addItemTitle="Add Guardian"
              >
              </app-select-box>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sm:w-6/12 md:w-4/12 lg:w-2/12 my-4">
      <app-button
        [arrow]="true"
        (myMethod)="onClickNext()"
        value="Distribution Of Assets"
        padding="py-3 px-3"
        id="submitButtonId"
      ></app-button>
    </div>
  </form>
</div>
<app-modal-filter [modalBody]="modalBody2" [showModal]="toggleModalTutorial">
  <ng-template #modalBody2>
    <app-tutorial (onClose)="toggleModalTutorial = false"> </app-tutorial>
  </ng-template>
</app-modal-filter>

<app-edit-items [modalBody]="modalBody3" [showModal]="editToggle">
  <ng-template #modalBody3>
    <div class="p-5">
      <app-header-toolbar
        pagetitle="All Added Executor"
        
        (backButtonHandler)="editToggle = false"
      ></app-header-toolbar>
      <div class="max-h-[90vh] overflow-auto">
        <app-edit-select-box
          [allItems]="memberData"
          (getSelectedList)="selectMemberExecutor($event)"
          [deletedItemBySelectMobile]="deletedItemsInArray"
          addItemTitle="Add Executor"
        >
        </app-edit-select-box>
      </div>
    </div>
  </ng-template>
</app-edit-items>
