<div class="flex flex-col px-8 py-4 space-y-2   overflow-auto h-[100vh] md:h-[90vh] lg:h-[80vh]">
  <app-header-toolbar routerlink="{{backRouteLink}}" pagetitle="Trust"></app-header-toolbar>
  <div class="font-bold text-lg">Trust Profile</div>
  <form class="" method="POST" [formGroup]="TrustForm">
    <div class="bg-[#F7F7F7] rounded-xl space-y-4 p-5">
      <div class="grid bold grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-5 gap-4 gap-y-0 mt-3 ">
        <div class="form-group">
          <div class="input-group1">
            <label class="input_label text-sm ml-1"> Name this Testamentary Trust</label>
            <input type="text" placeholder="Testamentary Trust" formControlName="trustName"
              class="font-[GilroyBold] sm:font-[GilroySemi] bg-[#F0F0F0] w-[100%] px-2 sm:px-4 py-2  form-control rounded-[14px]  focus:outline-none" />
          </div>

          <div class="text-red-500 errors mx-2">
            {{ formErrors.trustName }}
          </div>
        </div>




      </div>


      <div class="sm:w-1/2">
        <div class="form-group">
          <div class="input-group1">
            <label class="input_label text-sm ml-1">Description</label>
            <textarea type="text" placeholder="Description" formControlName="description"
              class="font-[GilroyBold] sm:font-[GilroySemi] bg-[#F0F0F0] w-[100%] px-2 sm:px-4 py-2  form-control rounded-[14px]  focus:outline-none"></textarea>
          </div>

          <div class="text-red-500 errors mx-2">
            {{ formErrors.description }}
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="id =='' " class=" hidden sm:block sm:w-6/12 md:w-4/12 lg:w-2/12 my-4">
      <app-button (myMethod)="addTrustForm()" value="Add Trust" id="submitButtonId" [arrow]="true"></app-button>
    </div>
    <div *ngIf="id !== '' && fromCreateWill !== 'will'" class=" hidden sm:block sm:w-6/12 md:w-4/12 lg:w-2/12 my-4">
      <app-button (myMethod)="onUpdateTrust()" value="Update Trust" id="submitButtonId" [arrow]="true"></app-button>
    </div>
    <div class="absolute md:hidden left-0 right-0 bottom-2 w-[87%] m-auto bg-white ">

      <app-button [arrow]="true" value="Save" (myMethod)="addTrustForm()" padding="px-6 py-3" id="submitButtonId"
        class="md:hidden"></app-button>

    </div>
 
  <div>
    <div class="flex flex-row justify-between">
      <div class="font-['GilroyBold'] mb-2 mt-5 text-xl">
        Appoint Primary Trustee
      </div>
      <div>  <app-button
          border="border-2 border-black"
          (myMethod)="toggleModalTutorial = true"
          padding="px-10 py-2"
          backgroundColor="bg-[#fff]"
          borderRadius="rounded-xl"
          color="text-[#000]"
          value="Tutorial"
        ></app-button></div>
    </div>
    <div class="flex flex-col bg-[#f7f7f7] rounded-2xl p-4">
      <div class="white">
        <ng-select
          formControlName="primary_trustee_type"
          [searchable]="false" [clearable]="false"
          class="custom-selector white joint sm:w-1/4"
        >
          <ng-option *ngFor="let item of listType" [value]="item.value">
            <img height="15" width="15" [src]="item.avatar" class="mr-3" />{{
              item.name
            }}</ng-option
          >
        </ng-select>
      </div>
      <div class="text-[#A2A2A2] mb-2">
        A member can be a business/organisation
      </div>
      <div>
        <app-select-box
          [key]="key"
          [listItem]="memberData"
          [selectedItems]="this.TrustForm.value.addTrusteeExecutor"
          addItemRoute="members/createmembers"
          [classes]="classes"
          (onSelectId)="selectMemberExecutor($event)"
          addItemRoute="members/createmembers"
          avtarType="name"
          imageUrl="../../../../../assets/Icons/Bank Account.svg"
          addItemTitle="Add Trustee"
          (actionButton)="onUpdateTrust()"
        >
        </app-select-box>
      </div>
    </div>
    <div class="flex flex-row justify-between mb-2 mt-5">
      <div class="font-['GilroyBold'] my-2 text-xl">
        Appoint Replacement Trustee
      </div>
      <div>  <app-button
          border="border-2 border-black"
          (myMethod)="toggleModalTutorial = true"
          padding="px-10 py-2"
          backgroundColor="bg-[#fff]"
          borderRadius="rounded-xl"
          color="text-[#000]"
          value="Tutorial"
        ></app-button></div>
    </div>
    <div class="flex flex-col bg-[#f7f7f7] rounded-2xl p-4">
      <div class="white">
        <ng-select
          formControlName="replacement_trustee_type"
          [searchable]="false" [clearable]="false"
          class="custom-selector white joint sm:w-1/4"
        >
          <ng-option *ngFor="let item of listType" [value]="item.value">
            <img height="15" width="15" [src]="item.avatar" class="mr-3" />{{
              item.name
            }}</ng-option
          >
        </ng-select>
      </div>
      <div class="text-[#A2A2A2] mb-2">
        A member can be a business/organisation
      </div>
      <div>
        <app-select-box
          [key]="key"
          [listItem]="memberData"
          [selectedItems]="this.TrustForm.value.addReplacementTrustee"
          addItemRoute="members/createmembers"
          [classes]="classes"
          (onSelectId)="selectMemberReplacementExecutor($event)"
          addItemRoute="members/createmembers"
          avtarType="name"
          imageUrl="../../../../../assets/Icons/Bank Account.svg"
          addItemTitle="Add Trustee"
          (actionButton)="onUpdateTrust()"
        >
        </app-select-box>
      </div>
    </div>
    <div class="bg-[#F0F0F0] rounded-2xl p-5">
      <div class="flex flex-row justify-between">
        <div class="flex flex-row items-center space-x-2">
          <label class="switch">
            <input  type="checkbox" (click)="onSelectPowers($event)" [checked]="powerChecked" name="" id="">
            <span class="slider round"></span>
            </label>
            <div class="font-['GilroyBold']  text-xl">
              Specify Trustee Powers
            </div>
        </div>
        <div>  <app-button
            border="border-2 border-black"
            (myMethod)="toggleModalTutorial = true"
            padding="px-10 py-2"
            backgroundColor="bg-[#fff]"
            borderRadius="rounded-xl"
            color="text-[#000]"
            value="Tutorial"
          ></app-button></div>
      </div>
      <div class="-mt-1 font-['GilroySemi'] text-sm text-gray-600">Toggle the switch to inclue/exclude powers</div>
      <div formArrayName="trusteePower" *ngFor="let item of TrusteePower.controls; let i = index;" class="flex items-center">
        <div [formGroupName]="i" class="flex flex-row space-x-2 w-full " [ngClass]="{'flex-col': i===TrusteePower.controls.length -1}">
          <div class="flex items-center my-1">
          <label class="switch">
          <input  type="checkbox" [attr.disabled]="!powerChecked ? true : null" formControlName="isSelected" name="" id="">
          <span class="slider round"></span>
          </label>
          </div>
          <div [ngClass]="{hidden: i===TrusteePower.controls.length -1}" class="font-['GilroySemi'] text-sm sm:text-base flex items-center">{{options[i]}}</div>
          <div [ngClass]="{hidden: i!==TrusteePower.controls.length -1}" ><textarea class="w-full rounded-xl p-2 mt-1 -ml-2" formControlName="name" placeholder="Custom Input"></textarea></div>
      </div>
      </div>
    </div>
    <div class="bg-[#F7F7F7]">
      <div class="flex flex-row justify-between">
        <div class="font-['GilroyBold'] mb-2 mt-5 text-xl">
          Assets
        </div>
        <div>  <app-button
            border="border-2 border-black"
            (myMethod)="toggleModalTutorial = true"
            padding="px-10 py-2"
            backgroundColor="bg-[#fff]"
            borderRadius="rounded-xl"
            color="text-[#000]"
            value="Tutorial"
          ></app-button></div>
      </div>
    </div>
  </div>
</form>
</div>