<div class="flex flex-col max-h-[66vh]">
    <div class="flex flex-col space-y-3 p-1 pr-3">
        <div class="hidden md:flex flex-row font-bold opacity-40 p-3 space-x-2 fixed md:static">
            <div class="{{ classes[i] }} flex md:items-center" *ngFor="let item of tableHeadings; let i = index">
                {{ item }}
            </div>
            <div class="w-1/12 text-center">Actions</div>
        </div>
    </div>
    <div class="flex flex-col space-y-3 overflow-auto overflow-x-hidden p-1 ">
    
        <div class="flex flex-col md:flex-row relative font-bold rounded-xl bg-white first-line:shadow-slate-300 p-3 space-x-2 shadow-[0px_0px_5px_rgba(0,0,0,0.3)]"
            *ngFor="let item of tableData">
        
            
                <div class="{{classes[i]}} flex md:items-center text-ellipsis" [ngClass]="{'absolute top-[32px] left-[65px] md:static text-md md:text-base text-[#8c8c8c] md:text-[#000]': i===1}" *ngFor="let key of keys; let i = index">
                    <div *ngIf="avtarType==='name' && i=== 0" class=" rounded-full  bg-blue-300 w-[40px] h-[40px] font-extrabold  text-center flex items-center justify-center mr-5">{{ getShortName(item[key]) || "AA"}}</div>
                    <div *ngIf="avtarType==='image' && i=== 0" class=" rounded-full   font-extrabold  text-center flex items-center justify-center mr-5"><img class="w-[30px] h-[30px] " src="{{item.image}}"></div>
                    {{ item[key] || key }}
                </div>
                 <div class="w-1/12 absolute top-0 bottom-0 md:static right-4 break-words cursor-pointer text-center flex justify-center">
                    <img class="-rotate-90" (click)="onClickActionButton(item)" width="24px"  src="../../../../assets/Icons/Back.svg">
                </div>
            
       
        </div>
        <div *ngIf="tableData?.length === 0 "
            class="flex flex-col justify-center font-bold rounded-xl bg-white shadow-slate-300 p-3 space-x-2 shadow-[0px_0px_5px_rgba(0,0,0,0.3)]">
            <div class="text-center text-2xl">
                {{ emptyTableMessage || "No Data Found" }}
            </div>
        </div>
    </div>
</div>