<div class="flex flex-col h-full">
    <div class="flex flex-col space-y-3 p-1 pr-3">
        <div class="hidden md:flex flex-row font-bold opacity-40 p-3 sm:space-x-2 fixed md:static">
            <div class="{{ classes[i] }} flex md:items-center" *ngFor="let item of tableHeadings; let i = index">
                {{ item }}
            </div>
            <div class="w-1/12 text-center">Actions</div>
        </div>
    </div>
    <div class="flex flex-col space-y-3 overflow-auto overflow-x-hidden p-1 ">
    
        <div class="flex flex-col md:flex-row relative font-bold rounded-xl bg-white first-line:shadow-slate-300 p-3 space-x-2 shadow-[0px_0px_5px_rgba(0,0,0,0.3)]"
            *ngFor="let item of tableData">
        
            
                <div class="{{classes[i]}} flex md:items-center text-ellipsis capitalize" [ngClass]="{'absolute top-[32px] left-[65px] md:static  text-[#8c8c8c] md:text-[#000]': i===1}" *ngFor="let key of keys; let i = index">
                    <div *ngIf="avtarType==='name' && i=== 0" class=" rounded-full  bg-blue-300 w-[40px] h-[40px] font-extrabold  text-center flex items-center justify-center mr-5">{{ getShortName(item[key]) || "AA"}}</div>
                    <div *ngIf="avtarType==='image' && i=== 0" class=" rounded-full   font-extrabold  text-center flex items-center justify-center mr-5"><img class="w-[40px] h-[40px] " src="{{item.image}}"></div>
                    {{ item[key] || key }}
                </div>
                 <div class="w-1/12 absolute top-0 bottom-0 md:static right-4 break-words cursor-pointer text-center flex justify-center m-auto">
                    <svg  class="-rotate-180 m-auto" (click)="onClickActionButton(item)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 30 30">
                        <g id="Group_3661" data-name="Group 3661" transform="translate(-20 -105)">
                          <g id="Rectangle_62" data-name="Rectangle 62" transform="translate(20 105)" class=" hover:fill-[#ff678229]"  fill="#fff" stroke="#ed7184" stroke-width="1">
                            <rect width="30" height="30" rx="15" stroke="none"/>
                            <rect x="0.5" y="0.5" width="29" height="29" rx="14.5" fill="none"/>
                          </g>
                          <path id="Path_4129" data-name="Path 4129" d="M2265.813-739.753h.179q5.115,0,10.231,0a1.107,1.107,0,0,0,.318-.037.567.567,0,0,0,.379-.63.569.569,0,0,0-.486-.522,1.876,1.876,0,0,0-.266-.014H2265.8l-.04-.06a.616.616,0,0,0,.133-.077c.606-.6,1.208-1.2,1.813-1.8a.6.6,0,0,0,.192-.608.6.6,0,0,0-1.023-.264q-1.182,1.171-2.355,2.35c-.205.205-.412.409-.615.616a.59.59,0,0,0,0,.884q1.482,1.486,2.969,2.967a.563.563,0,0,0,.678.142.631.631,0,0,0,.368-.609.625.625,0,0,0-.219-.41q-.895-.892-1.79-1.784a.96.96,0,0,0-.124-.091Z" transform="translate(-2235.706 859.959)"/>
                        </g>
                      </svg>
                </div>
            
       
        </div>
        <div *ngIf="tableData?.length === 0 "
            class="flex flex-col justify-center font-bold rounded-xl bg-white shadow-slate-300 p-3 space-x-2 shadow-[0px_0px_5px_rgba(0,0,0,0.3)]">
            <div class="text-center text-2xl">
                {{ emptyTableMessage || "No Data Found" }}
            </div>
        </div>
    </div>
</div>