<div class="flex flex-col h-[100vh]">
  <div class="flex   flex-row justify-between px-5 sm:px-16 pt-10 pb-0 sm:pb-5 items-center">
    <div class="">
      <img
        src="../../../../assets/Image/Logo/Craftwills..png"
        width="140px"
        height="30px"
        class="hidden sm:block"
      />
      <div *ngIf="step == 1" class="sm:hidden font-black text-4xl">
        Craftwills.
            </div>
    </div>
  
    <app-button
      value="   Login   "
      routerLink="/"
      id="submitButtonId"
      class="hidden sm:block"
    ></app-button>
  </div>
  
  <!--  -->
  <div class="flex flex-row mx-5  sm:mx-16  -mb-10 sm:mt-0 sm:mb-0 z-30">
    <div class="w-fit">
      <img
        (click)="next(1)"
        *ngIf="step == 2"
        src="../../../../assets/Icons/Back.svg"
        alt="Back buton"
        class="cursor-pointer"
        />
        <img
        (click)="next(2)"
        *ngIf="step == 3"
        src="../../../../assets/Icons/Back.svg"
        alt="Back buton"
        class="cursor-pointer"
        />
    </div>
  </div>
  <div class="flex w-full justify-center h-full items-center sm:items-start sm:mt-20 ">
    <div
      *ngIf="step == 1"
      class="w-full -mt-[100px] sm:mt-0  sm:w-2/3 md:w-7/12 lg:w-1/3 mx-5 sm:mx-5 "
    >
  
      <div class="text-2xl mt-10 sm:mt-0 sm:text-3xl font-[GilroySemi] sm:text-center">
        Welcome to Capital Crafting
      </div>
      <div class="text-sm sm:text-base sm:text-center  my-4 opacity-60">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore.
      </div>
      <div class="message text-red-500 text-center mb-2">
        {{ message }}
      </div>
  
      <form method="POST" [formGroup]="userRegistration">
        <div class="form-group md:w-2/3 justify-center mx-auto">
          <div class="input-group1">
  
            <ng-select
            class="custom-selector custom  w-full"
            placeholder="Write your Id type...."
            [items]="idList"
            formControlName="id_type"
            addTagText="Add New Id Type:"
            [addTag]="true"
            >
          </ng-select>
          </div>
  
          <div class="text-red-500 errors mx-2">
            {{ formErrors.id_type }}
          </div>
        </div>
        <div class="form-group md:w-2/3 justify-center mx-auto">
          <div class="input-group1">
            <input
              type="text"
              placeholder="ID Number"
              formControlName="id_number"
              class="sm:bg-[#f7f7f7] w-[100%] px-4 py-2  form-control rounded-[5px] sm:rounded-[10px] border-2 border-[#ddd] sm:border-none focus:outline-black sm:focus:outline-none font-['GilroySemi']"
            />
          </div>
  
          <div class="text-red-500 errors mx-2">
            {{ formErrors.id_number }}
          </div>
        </div>
        <div class="form-group md:w-2/3 justify-center mx-auto">
          <div class="input-group1">
            <input
              type="text"
              placeholder="Full Name as per ID"
              formControlName="fullName"
              class="sm:bg-[#f7f7f7] w-[100%] px-4 py-2  form-control rounded-[5px] sm:rounded-[10px] border-2 border-[#ddd] sm:border-none focus:outline-black sm:focus:outline-none font-['GilroySemi']"
            />
          </div>
  
          <div class="text-red-500 errors mx-2">
            {{ formErrors.fullName }}
          </div>
        </div>
        <div class="md:w-2/3 justify-center mx-auto">
          <app-button
            value="Next"
            (myMethod)="next(2)"
            id="submitButtonId"
            [arrow]="true"
            padding="px-5 py-3 sm:py-2"
            backgroundColor="bg-[#000] sm:bg-[#FF6782]"
            borderRadius="rounded-[5px] sm:rounded-[10px]"
          >
          </app-button>
        </div>
        <div class="font-bold md:w-2/3 justify-center mx-auto sm:hidden my-4">
          <span class="mr-1 ">Already have an account</span>
          <a class="text-[#FF6782] hover:text-[#FF6782] underline" routerLink="/"
              >Sign in</a
          >
          </div>
      </form>
    </div>
    <div
      *ngIf="step == 2"
      class="w-full -mt-[80px]  sm:w-2/3 md:w-7/12 lg:w-1/3 mx-5 sm:mx-5  sm:-mt-20"
    >
    <div class="text-2xl sm:text-3xl font-medium sm:text-center my-3">
      Select gender
    </div>
      <form method="POST" [formGroup]="accountDetails">
        <div class="form-group md:w-2/3 justify-center mx-auto">
  
          <div class="input-group1 flex flex-row justify-around">
            <label for="male" class="male">
              <input
                id="male"
                type="radio"
                placeholder="Male"
                value="male"
                formControlName="gender"
                class="sm:bg-[#f7f7f7] w-[100%] px-4 py-2  form-control rounded-[5px] sm:rounded-[10px] border-2 border-[#ddd] sm:border-none focus:outline-black sm:focus:outline-none font-['GilroySemi'] "
              />
              <img
                class="radio_image"
                src="../../../../assets/Icons/Men.png"
                alt="I'm men"
              />
            </label>
            <label for="female">
              <input
                id="female"
                type="radio"
                placeholder="Female"
                value="female"
                formControlName="gender"
                class="sm:bg-[#f7f7f7] w-[100%] px-4 py-2  form-control rounded-[5px] sm:rounded-[10px] border-2 border-[#ddd] sm:border-none focus:outline-black sm:focus:outline-none font-['GilroySemi']"
              />
              <img
                class="radio_image female"
                src="../../../../assets/Icons/Women.png"
                alt="I'm women"
              />
            </label>
          </div>
  
          <div class="text-red-500 errors mx-2 text-center">
            {{ formErrors.gender }}
          </div>
        </div>
        <div class="form-group md:w-2/3 justify-center mx-auto">
          <div class="text-2xl sm:text-3xl font-bold sm:text-center my-3" >
            Account Details
          </div>
          <div class="input-group1">
            <input
            autocomplete="new-password"
              type="text"
              placeholder="Email address"
              formControlName="email"
              class="sm:bg-[#f7f7f7] w-[100%] px-4 py-2  form-control rounded-[5px] sm:rounded-[10px] border-2 border-[#ddd] sm:border-none focus:outline-black sm:focus:outline-none font-['GilroySemi']"
            />
        
          </div>
  
          <div class="text-red-500 errors mx-2">
            {{ formErrors.email }}
          </div>
        </div>
        <div class="form-group md:w-2/3 justify-center mx-auto">
          <div class="input-group1">
            <div class="flex flex-row relative w-full">
            <input
            #x 
            autocomplete="off"
            type="password"
              placeholder="Password"
              formControlName="password"
              class="sm:bg-[#f7f7f7] w-[100%] px-4 py-2  form-control rounded-[5px] sm:rounded-[10px] border-2 border-[#ddd] sm:border-none focus:outline-black sm:focus:outline-none font-['GilroySemi']"
            />
            <div  class="absolute right-2 top-[25%] text-[#8d8d8d] cursor-pointer" (click)="x.type=x.type=='password'?'text':'password'">
              <svg *ngIf="x.type==='text'" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
              </svg>
              <svg  *ngIf="x.type==='password'" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21" />
              </svg>
  
            </div>
            </div>
          </div>
  
          <div class="text-red-500 errors mx-2">
            {{ formErrors.password }}
          </div>
        </div>
        <div class="form-group md:w-2/3 justify-center mx-auto">
          <div class="input-group1">
            <div class="flex flex-row relative w-full">
            <input
            #y
            autocomplete="off"
              type="password"
              placeholder="Confirm password"
              formControlName="confirmPassword"
              class="sm:bg-[#f7f7f7] w-[100%] px-4 py-2  form-control rounded-[5px] sm:rounded-[10px] border-2 border-[#ddd] sm:border-none focus:outline-black sm:focus:outline-none font-['GilroySemi']"
            />
            <div class="absolute right-2 top-[25%] text-[#8d8d8d] cursor-pointer" (click)="y.type=y.type=='password'?'text':'password'">
              <svg *ngIf="y.type==='text'" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
              </svg>
              <svg  *ngIf="y.type==='password'" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21" />
              </svg>
  
            </div>
          </div>
          </div>
  
          <div class="text-red-500 errors mx-2">
            {{ formErrors.confirmPassword }}
          </div>
        </div>
        <div class="md:w-2/3 justify-center mx-auto">
          <app-button
            value="Next"
            (myMethod)="next(3)"
            id="submitButtonId"
            [arrow]="true"
            padding="px-5 py-3 sm:py-2"
            backgroundColor="bg-[#000] sm:bg-[#FF6782]"
            borderRadius="rounded-[5px] sm:rounded-[10px]"
          ></app-button>
        </div>
      </form>
    </div>
    <div
      *ngIf="step == 3"
      class="w-full -mt-[80px] sm:mt-0  sm:w-2/3 md:w-7/12 lg:w-1/3 mx-5 sm:mx-5"
    >
      <div class="text-2xl sm:text-3xl font-bold sm:text-center my-5">
        Enter your address
      </div>
      <div class="message text-red-500 text-center mb-2">
        {{ message }}
      </div>
  
      <form method="POST" [formGroup]="addressDetails">
        <div class="form-group md:w-2/3 justify-center mx-auto">
          <div class="input-group1">
            <input
              type="text"
              placeholder="Floor Number"
              formControlName="floorNumber"
              class="sm:bg-[#f7f7f7] w-[100%] px-4 py-2  form-control rounded-[5px] sm:rounded-[10px] border-2 border-[#ddd] sm:border-none focus:outline-black sm:focus:outline-none font-['GilroySemi']"
            />
          </div>
  
          <div class="text-red-500 errors mx-2">
            {{ formErrors.floorNumber }}
          </div>
        </div>
        <div class="form-group md:w-2/3 justify-center mx-auto">
          <div class="input-group1">
            <input
              type="text"
              placeholder="Unit Number"
              formControlName="unitNumber"
              class="sm:bg-[#f7f7f7] w-[100%] px-4 py-2  form-control rounded-[5px] sm:rounded-[10px] border-2 border-[#ddd] sm:border-none focus:outline-black sm:focus:outline-none font-['GilroySemi']"
            />
          </div>
  
          <div class="text-red-500 errors mx-2">
            {{ formErrors.unitNumber }}
          </div>
        </div>
        <div class="form-group md:w-2/3 justify-center mx-auto">
          <div class="input-group1">
            <input
              type="text"
              placeholder="Street Name"
              formControlName="streetName"
              class="sm:bg-[#f7f7f7] w-[100%] px-4 py-2  form-control rounded-[5px] sm:rounded-[10px] border-2 border-[#ddd] sm:border-none focus:outline-black sm:focus:outline-none font-['GilroySemi']"
            />
          </div>
  
          <div class="text-red-500 errors mx-2">
            {{ formErrors.streetName }}
          </div>
        </div>
        <div class="form-group md:w-2/3 justify-center mx-auto">
          <div class="input-group1">
            <input
              type="text"
              placeholder="Postal Code"
              formControlName="postalCode"
              class="sm:bg-[#f7f7f7] w-[100%] px-4 py-2  form-control rounded-[5px] sm:rounded-[10px] border-2 border-[#ddd] sm:border-none focus:outline-black sm:focus:outline-none font-['GilroySemi']"
            />
          </div>
  
          <div class="text-red-500 errors mx-2">
            {{ formErrors.postalCode }}
          </div>
        </div>
        <div class="md:w-2/3 justify-center mx-auto">
          <app-button
            value="Next"
            (myMethod)="next(4)"
            id="submitButtonId"
            [arrow]="true"
            padding="px-5 py-3 sm:py-2"
            backgroundColor="bg-[#000] sm:bg-[#FF6782]"
            borderRadius="rounded-[5px] sm:rounded-[10px]"
          ></app-button>
        </div>
      </form>
    </div>
    <div
      *ngIf="step == 4"
      class="w-full sm:w-2/3 md:w-7/12 lg:w-1/3 mx-5 sm:mx-5 mt-10 sm:mt-16"
    >
      <div class="text-2xl sm:text-3xl font-medium text-center">
        You Are All set!
      </div>  
   
      <div class="my-4 text-center image_set_container flex justify-center">
        <img class="sm:w-[60%]" src="../../../../assets/Icons/Illus 1.png" />
      </div>
      <div class="md:w-2/3 justify-center mx-auto">
        <app-button
          value="Next"
          (myMethod)="next(5)"
          id="submitButtonId"
          [arrow]="true"
          padding="px-5 py-3 sm:py-2"
          backgroundColor="bg-[#000] sm:bg-[#FF6782]"
          borderRadius="rounded-[5px] sm:rounded-[10px]"
        ></app-button>
      </div>
    </div>
  
  
  </div>
  
  <app-footer class="hidden sm:block"></app-footer>
  </div>