<div class="flex flex-col px-8 py-4 space-y-2 overflow-auto h-[100vh] md:h-[90vh] lg:h-[80vh]">

  <app-header-toolbar routerlink="{{backRouteLink}}" pagetitle="PrivateDept" [headerMenuIcon]=true></app-header-toolbar>
  <app-button  value="Tutorial" (click)="toggleModalTutorial=true" class="md:hidden" backgroundColor="bg-[#000]" margin="my-1"></app-button>

<form method="POST" [formGroup]="PrivateDebtForm">
  <div class="grid bold grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-5 gap-4 gap-y-0 mt-3">
    <div class="form-group">
      <div class="input-group1">
        <label class="input_label text-sm ml-1">Dept Name</label>
        <input type="text" placeholder="Dept Name" formControlName="dept_Name" class="authinput form-control" />
      </div>

      <div class="text-red-500 errors mx-2">
        {{ formErrors.dept_Name }}
      </div>
    </div>
    <div class="form-group">
      <div class="input-group1">
        <label class="input_label text-sm ml-1">Current Outstanding Amount</label>
        <input type="text" placeholder="Current Outstanding Amount" formControlName="current_Outstanding_Amount"
          class="authinput form-control" />
      </div>

      <div class="text-red-500 errors mx-2">
        {{ formErrors.current_Outstanding_Amount }}
      </div>
    </div>
  </div>


  <div class="md:w-1/2">
    <div class="form-group">
      <div class="input-group1">
        <label class="input_label text-sm ml-1">Description</label>
        <textarea type="text" placeholder="Description" formControlName="description"
          class="authinput form-control min-h-[100px]"></textarea>
      </div>

      <div class="text-red-500 errors mx-2">
        {{ formErrors.description }}
      </div>
    </div>
  </div>
  <div class="w-full">
    <div class="font-extrabold my-2">Lender</div>
    <div class="rounded-xl bg_grey flex flex-col p-5 overflow-auto sm:overflow-hidden h-[100vh] sm:h-auto">
      <div class="text-[#A2A2A2] mb-2">A member can be a business/organisation</div>

  <app-select-box [actionToggle]="false" [addItemToggle]="false" [key]="key" [listItem]="memberData" [selectedItems]="slectedList" addItemRoute="members/createmembers" [classes]="classes" (onSelectId)="selectMember($event)" addItemRoute='members/createmembers' avtarType="name" imageUrl="../../../../../assets/Icons/Bank Account.svg" addItemTitle="Add Members"> </app-select-box> 
      </div>
    </div>
    <div *ngIf="id =='' " class="sm:w-6/12 md:w-4/12 lg:w-2/12 my-4">
      <app-button (myMethod)="addPrivateDebt()" value="Continue" id="submitButtonId" [arrow]="true"></app-button>
    </div>
    <div *ngIf="id !=='' "  class="sm:w-6/12 md:w-4/12 lg:w-2/12 my-4">
      <app-button (myMethod)="onUpdatePrivateDept()" value="Update " id="submitButtonId" [arrow]="true"></app-button>
    </div>

    <div class="text-green-500">{{responseMessage}}</div>
</form>

</div>
<app-modal-filter [modalBody]='modalBody2' [showModal]="toggleModalTutorial">

<ng-template #modalBody2>
  <app-tutorial  (onClose)='toggleModalTutorial=false'>
  </app-tutorial>
</ng-template>
</app-modal-filter>