
@media only screen and (min-width: 600px) {
    #background-image
    {
        background-image: url('../../../assets/Icons/BG\ IMAge.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
  }